/* Estilo para la barra de navegación principal */
.navbar {
    background-color: #007bff; /* Color de fondo de la barra de navegación */
    color: #fff; /* Color del texto en la barra de navegación */
  }
  
  /* Estilo para el contenedor principal */
  .container-fluid {
    padding: 10px;
  }
  
  /* Estilo para el logotipo */
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Estilo para el botón del menú desplegable */
  .navbar-toggler {
    background-color: transparent;
    border: none;
    color: #fff; /* Color del icono del menú */
    font-size: 24px;
  }
  
  /* Estilo para los enlaces de navegación */
  .nav-link {
    color: #fff; /* Color del texto de los enlaces */
    text-decoration: none;
  }
  
  /* Estilo para los iconos en los enlaces */
  i {
    margin-right: 5px;
  }
  
  /* Estilo para las notificaciones en el enlace de notificaciones */
  .notification {
    background-color: #e74c3c; /* Color de fondo de la notificación */
    color: #fff; /* Color del texto de la notificación */
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    margin-left: 5px;
  }
  
  /* Estilo para el menú desplegable */
  .dropdown-menu {
    background-color: #333; /* Color de fondo del menú desplegable */
    border: none;
  }
  
  /* Estilo para los elementos del menú desplegable */
  .dropdown-item {
    color: #fff; /* Color del texto de los elementos del menú desplegable */
  }
  
  /* Estilo para la línea divisoria en el menú desplegable */
  .dropdown-divider {
    background-color: #555; /* Color de fondo de la línea divisoria */
  }
  
  /* Estilo para el menú desplegable al hacer hover */
  .dropdown-item:hover {
    background-color: #555; /* Color de fondo al hacer hover en los elementos del menú desplegable */
  }
  