<html>
   <body> 
<nav class="navbar navbar-expand-lg navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">AeroSur</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav ms-auto">
        <li class="nav-item">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            <i class="ti-panel"></i>
            <p>Estadisticas</p>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="ti-bell"></i>
            <p class="notification">5</p>
            <p>Notificaciones</p>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a href="#" class="dropdown-item">Notificacion 1</a></li>
            <li><a href="#" class="dropdown-item">Notificacion 2</a></li>
            <li><a href="#" class="dropdown-item">Notificacion 3</a></li>
            <li><a href="#" class="dropdown-item">Notificacion 4</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a href="#" class="dropdown-item">Otra notificacion</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="ti-settings"></i>
            <p>Ajustes</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  </body>
</html>