<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse mt-3">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="home">
          <i class="bi bi-house-door"></i>
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="flights">
          <i class="bi bi-arrow-up-right"></i>
          Flights
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="hotels">
          <i class="bi bi-arrow-up-right"></i>
          Hotels
        </a>
      </li>
    </ul>
  </div>
</nav>
