/* Estilo para el contenedor principal .card */

  
  /* Estilo para el encabezado .header */
  .header {
    margin-bottom: 20px;
  }
  
  /* Estilo para el título .title dentro del encabezado */
  .title {
    font-size: 24px;
    color: #333;
  }
  
  /* Estilo para el mensaje de alerta .alert.alert-warning */
  .alert.alert-warning {
    background-color: #ffd700;
    color: #333;
    border: 1px solid #e5c100;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  /* Estilo para los botones .btn */
  .btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  /* Estilo específico para el botón #boton1 */
  #boton1 {
    background-color: #28a745;
  }
  
  /* Estilo específico para el botón #boton2 */
  #boton2 {
    background-color: #dc3545;
  }
  
  /* Estilo para los comentarios dentro del contenido */
  .content {
    margin-top: 20px;
    font-style: italic;
    color: #888;
  }
  
  /* Estilo para el tabbed-pane y sus pestañas (tab) */
  tabbed-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  tab {
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin: 5px 0;
  }
  
  /* Estilo específico para la pestaña activa */
  tab.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  