<div class="card">
  <div class="header">
    <h1  class="title">Bienvenido {{userName}}</h1>
  </div>
  <div class="content">

    <div *ngIf="needsLogin" class="alert alert-warning">
      You have been redirected to this page because you don't have the necessary
      rights for the reqeusted action. Login with a respective user account!
    </div>

    <button id="boton1" (click)="login()" class="btn btn-default">Acceso</button>
    <button id="boton2" (click)="logout()" class="btn btn-default">Cerrar Sesión</button>

    <!--
    <tabbed-pane [activeId]="0">
        <tab title="Booked" [id]="0">
            This page could display all booked passengers ...
        </tab>
        <tab title="Checked in" [id]="1">
            This page could display all checked in passengers ...
        </tab>

        <tab title="Boarded" [id]="2">
            This page could display all boarded passengers ...
        </tab>
    </tabbed-pane>
    -->
  </div>

</div>


