<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
    <li class="breadcrumb-item active">Vuelos</li>
  </ol>
</nav>
<div class="card">
  <div class="header">
    <h2 class="title">Detalles de vuelo</h2>
  </div>
  <div class="content">
    <div *ngIf="feedback.length" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
    <form *ngIf="flight" #editForm="ngForm" (ngSubmit)="save()">

      <div class="form-group">
        <label for="id">Identificacion</label>
        <input type="number" [(ngModel)]="flight.id" id="id" name="id" class="form-control">
      </div>

      <div class="form-group">
        <label for="from">de</label>
        <input [(ngModel)]="flight.from" id="from" name="from" class="form-control">
      </div>

      <div class="form-group">
        <label for="to">a</label>
        <input [(ngModel)]="flight.to" id="to" name="to" class="form-control">
      </div>

      <div class="form-group">
        <label for="date">Fecha</label>
        <input type="date" [(ngModel)]="flight.date" id="date" name="date" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid">Guardar</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
    </form>
  </div>
</div>
