<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text">
      <div class="logo-img">
        <img src="../../assets/img/1.png" alt="">
      </div>
      AeroSur
    </a>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="home" class="nav-link" >
        <i class="ti-home"></i>
        <p>Inicio</p>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="flights" class="nav-link" >
        <i class="ti-arrow-top-right"></i>
        <p>Vuelos</p>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="hotels" class="nav-link" >
        <i class="ti-arrow-top-right"></i>
        <p>Hoteles</p>
      </a>
    </li>

  </ul>
</div>
