<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
    <li class="breadcrumb-item active">Vuelos</li>
  </ol>
</nav>
<div class="card">
  <div class="header">
    <h2 class="title">Lista de vuelos</h2>
  </div>
  <div class="content">
    <form #f="ngForm">

      <div class="form-group">
        <label for="from">De:</label>
        <input [(ngModel)]="filter.from" id="from" name="from" class="form-control">
      </div>

      <div class="form-group">
        <label for="to">A:</label>
        <input [(ngModel)]="filter.to" id="to" name="to" class="form-control">
      </div>

      <button (click)="search()" [disabled]="!f?.valid" class="btn btn-primary">Buscar</button>
      <a [routerLink]="['../flights', 'new' ]" class="btn btn-default ml-2">Nuevo</a>
    </form>
  </div>
</div>
<div class="card" *ngIf="flightList.length > 0">
  <div *ngIf="feedback.length" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <div class="table-responsive">
    <table class="table table-centered table-hover mt-2" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Identificacion</th>
          <th class="border-top-0" scope="col">de</th>
          <th class="border-top-0" scope="col">a</th>
          <th class="border-top-0" scope="col">Fecha</th>
          <th class="border-top-0" scope="col" style="width:120px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of flightList" [class.active]="item === selectedFlight">

          <td>{{item.id}}</td>
          <td>{{item.from}}</td>
          <td>{{item.to}}</td>
          <td>{{item.date | date}}</td>
          <td style="white-space: nowrap">
            <a [routerLink]="['../flights', item.id ]" class="btn btn-secondary">Editar</a>&nbsp;
            <button (click)="delete(item)" class="btn btn-danger">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
